<div class="card-body">
    <div class="table-responsive">
         <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Name</th>
            <th>Address</th>
            <th>Price</th>  
            <th>Payment</th>
            <th>Status</th>
            
            <th>Action</th>
        </tr>
    </thead>
    
    <tbody>
       <%for(var y =0; y< orderDetails.length; y++){%>
        <%for(var i=0; i< orderDetails[y].productDetails.items.length; i++){%>
        <tr>
            <td><%=y+1 %> </td>
            <td><%=orderDetails[y].date%></td>
            <td><%=orderDetails[y].userDtails.firstname%></td>
            <td><%=orderDetails[y].userDtails.address1%></td>
            <td><%=orderDetails[y].productDetails.items[i].price%></td>
            <td><%=orderDetails[y].userDtails.payment_method%></td>
            
           <form method="post" action="/admin/status?userId=<%=orderDetails[y]._id%>&productId=<%=orderDetails[y].productDetails.items[i].item%>">
           <td>
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <select class="custom-select mr-sm-2" name="status" id="inlineFormCustomSelect">
                
                  <% if(orderDetails[y].productDetails.items[i].status=="cancelled"){ %> 
                    <option selected value="Cancel">Cancel</option> 
                  <% }else if(orderDetails[y].productDetails.items[i].status=="Dispatch"){ %> 
                    <% }else if(orderDetails[y].productDetails.items[i].status=="placed"){ %> 
                        <option selected value="Dispatch">Dispatch</option>
                        <option  value="Deliver">Deliver</option>
                        <option  value="Cancel">Cancel</option> 
                  <% }else if(orderDetails[y].productDetails.items[i].status=="pending" ||orderDetails[y].productDetails.items[i].status=="Processing" ){ %> 
                  <option selected value="Placed">Placed</option>
                  <option  value="Processing">Processing</option>
                  <option  value="Dispatch">Dispatch</option>
                  <option  value="Deliver">Deliver</option>
                  <option  value="Cancel">Canceled</option> 
                     <% } %> 
                    
                </select>
            </div>
            </div>
                </td>
                <td><div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Update</button>
                 
                </div></td>
                </form>
           
        </tr>
        <%}%>
        <%}%>
        
       
    </tbody>
         </table>
    </div>
</div>

