<!-- banner -->
<div class="bg-img-hero img-fluid" style="background-image: url(asset/img/1920x600/img1.jpg);">
    <div class="px-3 px-lg-10 py-3 py-lg-10 space-top-xl-3 space-bottom-xl-1">
        <div class="js-slick-carousel u-slick"
            data-pagi-classes="text-center u-slick__pagination u-slick__pagination mb-0 mt-5"
            data-arrows-classes="d-none d-lg-block u-slick__arrow u-slick__arrow--v2 u-slick__arrow-centered--y"
            data-arrow-left-classes="flaticon-back u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n9 ml-xl-n10"
            data-arrow-right-classes="flaticon-next u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n9 mr-xl-n10">
            <div class="pt-xl-3">
                <div class="row p-md-6 p-lg-0">
                    <div class="offset-xl-3 col-lg-8 col-xl-5 col-wd-5">
                        <div class="media d-block d-lg-flex ml-lg-6">
                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                <p class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2"
                                    data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">Kindle
                                    Edition
                                </p>
                                <h2 class="font-size-12 mb-1" data-scs-animation-in="fadeInUp"
                                    data-scs-animation-delay="300">
                                    <span class="hero__title-line-1 font-weight-regular d-block">Featured Books
                                        of
                                        the</span>
                                    <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                                </h2>
                                <div class="font-size-2 text-secondary-gray-700" data-scs-animation-in="fadeInUp"
                                    data-scs-animation-delay="300">Discount
                                </div>
                                <div class="font-size-26 font-weight-medium text-primary mb-2"
                                    data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">40% Off
                                </div>
                                <div>
                                    <a href="" class="banner_btn btn btn-wide btn-dark rounded-0 text-white"
                                        data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">Shop
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-wd-4" data-scs-animation-in="fadeInRight"
                        data-scs-animation-delay="500">
                        <img src="asset/img/800x420/img1.png" class="img-fluid" alt="image-description">
                    </div>
                </div>
            </div>
            <div class="pt-xl-3">
                <div class="row ml-plus-310">
                    <div class="col-lg-7 col-wd-6">
                        <div class="media d-block d-lg-flex">
                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                <p class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2"
                                    data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">Kindle
                                    Edition
                                </p>
                                <h2 class="font-size-12 mb-1" data-scs-animation-in="fadeInUp"
                                    data-scs-animation-delay="300">
                                    <span class="hero__title-line-1 font-weight-regular d-block">Featured Books
                                        of
                                        the</span>
                                    <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                                </h2>
                                <div class="font-size-2 text-secondary-gray-700" data-scs-animation-in="fadeInUp"
                                    data-scs-animation-delay="300">Discount
                                </div>
                                <div class="font-size-26 font-weight-medium text-primary mb-2"
                                    data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">40% Off
                                </div>
                                <div>
                                    <a href="" class="banner_btn btn btn-wide btn-dark rounded-0 text-white"
                                        data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">Shop
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                        <img src="asset/img/800x420/img1.png" class="img-fluid" alt="image-description">
                    </div>
                </div>
            </div>
            <div class="pt-xl-3">
                <div class="row ml-plus-310">
                    <div class="col-lg-7 col-wd-6">
                        <div class="media d-block d-lg-flex">
                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                <p class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2"
                                    data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">Kindle
                                    Edition
                                </p>
                                <h2 class="font-size-12 mb-1" data-scs-animation-in="fadeInUp"
                                    data-scs-animation-delay="300">
                                    <span class="hero__title-line-1 font-weight-regular d-block">Featured Books
                                        of
                                        the</span>
                                    <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                                </h2>
                                <div class="font-size-2 text-secondary-gray-700" data-scs-animation-in="fadeInUp"
                                    data-scs-animation-delay="300">Discount
                                </div>
                                <div class="font-size-26 font-weight-medium text-primary mb-2"
                                    data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">40% Off
                                </div>
                                <div>
                                    <a href="" class="banner_btn btn btn-wide btn-dark rounded-0 text-white"
                                        data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">Shop
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                        <img src="asset/img/800x420/img1.png" class="img-fluid" alt="image-description">
                    </div>
                </div>
            </div>
           


        </div>
    </div>
</div>
</div>
</div>
<!-- close banner -->


<div class=" m-5 ">
    <section class="sidebar-with-product">
        <div class="space-bottom-2">
            <div class="container">
                <div class="row">

                    <!-- toprate -->
                    <div class="col-lg-4 col-xl-3">
                        <h2 class="font-size-26 mb-4">Top Rating</h2>
                        <div class="px-4 pt-4 border mb-5">
                            <div class="media mb-5">
                                <a class="d-block" href="">
                                    <img class="img-fluid" src="/public/assets/img/120x180/img7.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                        <a href="">Sold
                                            on a Monday: A Novel</a>
                                    </h6>
                                    <span class="font-weight-medium">$37</span>
                                </div>
                            </div>
                            <div class="media mb-5">
                                <a class="d-block" href="">
                                    <img class="img-fluid" src="../../assets/img/60x90/img2.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                        <a href="">The
                                            Dancing Girls: An absolutely gripping</a>
                                    </h6>
                                    <span class="font-weight-medium">$37</span>
                                </div>
                            </div>
                            <div class="media mb-5">
                                <a class="d-block" href="">
                                    <img class="img-fluid" src="../../assets/img/60x90/img3.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                        <a href="">Lessons
                                            Learned from 15 Years as CEO...</a>
                                    </h6>
                                    <span class="font-weight-medium">$37</span>
                                </div>
                            </div>
                            <div class="media mb-5">
                                <a class="d-block" href="">
                                    <img class="img-fluid" src="../../assets/img/60x90/img4.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                        <a href="">All
                                            the Light We Cannot See: A Novel</a>
                                    </h6>
                                    <span class="font-weight-medium">$37</span>
                                </div>
                            </div>
                            <div class="media mb-5">
                                <a class="d-block" href="">
                                    <img class="img-fluid" src="../../assets/img/60x90/img5.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal">
                                        <a href="">The
                                            Guardians: A Novel</a>
                                    </h6>
                                    <span class="font-weight-medium">$37</span>
                                </div>
                            </div>
                        </div>
                        <h2 class="font-size-26 mb-4">Favourite Authors</h2>
                        <div class="px-4 pt-4 border mb-5">
                            <div class="media mb-6 align-items-center">
                                <a class="d-block" href="">
                                    <img class="img-fluid rounded-circle" src="../../assets/img/80x80/img4.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                        <a href="">Barbara
                                            O'Neal</a>
                                    </h6>
                                    <span class="text-secondary-gray-700 font-size-2">21,658 Published
                                        Books</span>
                                </div>
                            </div>
                            <div class="media mb-6 align-items-center">
                                <a class="d-block" href="">
                                    <img class="img-fluid rounded-circle" src="" alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                        <a href="">Stephen
                                            King</a>
                                    </h6>
                                    <span class="text-secondary-gray-700 font-size-2">21,658 Published
                                        Books</span>
                                </div>
                            </div>
                            <div class="media mb-6 align-items-center">
                                <a class="d-block" href="">
                                    <img class="img-fluid rounded-circle" src="../../assets/img/80x80/img6.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                        <a href="">David
                                            Walliams</a>
                                    </h6>
                                    <span class="text-secondary-gray-700 font-size-2">21,658 Published
                                        Books</span>
                                </div>
                            </div>
                            <div class="media mb-6 align-items-center">
                                <a class="d-block" href="">
                                    <img class="img-fluid rounded-circle" src="../../assets/img/80x80/img7.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                        <a href="">Joe
                                            Wicks</a>
                                    </h6>
                                    <span class="text-secondary-gray-700 font-size-2">21,658 Published
                                        Books</span>
                                </div>
                            </div>
                            <div class="media mb-6 align-items-center">
                                <a class="d-block" href="">
                                    <img class="img-fluid rounded-circle" src="../../assets/img/80x80/img8.jpg"
                                        alt="Image-Description">
                                </a>
                                <div class="media-body ml-3 pl-1">
                                    <h6 class="crop-text-2 text-lh-md font-weight-normal mb-0">
                                        <a href="">Jessica
                                            Simpson</a>
                                    </h6>
                                    <span class="text-secondary-gray-700 font-size-2">21,658 Published
                                        Books</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- toprate close -->
                    <div class="col-lg-8 col-xl-9">
                        <h2 class="font-size-26 mb-4">Featured Books</h2>
                        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-3 row-cols-wd-4 products">

                            <!-- Product listing -->

                            <%var books%>
                                <%books.forEach(function(books){%>
                                    <div class="col mb-5">
                                        <div class="product border product__space bg-white">
                                            <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                                <div
                                                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                                    <div class="woocommerce-loop-product__thumbnail">
                                                        <a href="viewproduct<%=books._id%>" class="d-block"><img
                                                                src="/product-images/<%=books._id%>.jpg"
                                                                class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid"
                                                                alt="image-description"></a>
                                                    </div>
                                                    <div
                                                        class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                                        <div class="text-uppercase font-size-1 mb-1 text-truncate">
                                                            <a href="">
                                                                <%=books.name%>
                                                            </a>
                                                        </div>
                                                        <h2
                                                            class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark">
                                                            <a href="">
                                                                <%=books.description%>
                                                            </a>
                                                        </h2>
                                                        <div class="font-size-2  mb-1 text-truncate"><a href=""
                                                                class="text-gray-700">
                                                                <%=books.author%>
                                                            </a></div>
                                                        <div
                                                            class="price d-flex align-items-center font-weight-medium font-size-3">
                                                            <span class="woocommerce-Price-amount amount"><span
                                                                    class="woocommerce-Price-currencySymbol">₹</span>
                                                                <%=books.price%>
                                                            </span>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="product__hover d-flex align-items-center">
                                                        <a href="/addtocart"
                                                            class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
                                                            <span class="product__add-to-cart">ADD TO
                                                                CART</span>
                                                            <span class="product__add-to-cart-icon font-size-4"><i
                                                                    class="flaticon-icon-126515"></i></span>
                                                        </a>
                                                        <a href="" class="mr-1 h-p-bg btn btn-outline-primary border-0">
                                                            <i class="flaticon-switch"></i>
                                                        </a>
                                                        <a href="" class="h-p-bg btn btn-outline-primary border-0">
                                                            <i class="flaticon-heart"></i>
                                                        </a>
                                                    </div>
                                               
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <%})%>
                                        <!-- end -->





                                        <!-- row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).on('ready', function () {
        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

        // initialization of slick carousel
        $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));

        // initialization of malihu scrollbar
        $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

        // initialization of show animations
        $.HSCore.components.HSShowAnimation.init('.js-animation-link');

        // init zeynepjs
        var zeynep = $('.zeynep').zeynep({
            onClosed: function () {
                // enable main wrapper element clicks on any its children element
                $("body main").attr("style", "");

                console.log('the side menu is closed.');
            },
            onOpened: function () {
                // disable main wrapper element clicks on any its children element
                $("body main").attr("style", "pointer-events: none;");

                console.log('the side menu is opened.');
            }
        });

        // handle zeynep overlay click
        $(".zeynep-overlay").click(function () {
            zeynep.close();
        });

        // open side menu if the button is clicked
        $(".cat-menu").click(function () {
            if ($("html").hasClass("zeynep-opened")) {
                zeynep.close();
            } else {
                zeynep.open();
            }
        });
    });
</script>