
<main id="content">
    <div class="container">
    <div class="row">
    <div class="col-md-3 border-right">
    <h6 class="font-weight-medium font-size-7 pt-5 pt-lg-8  mb-5 mb-lg-7">My account</h6>
    <div class="tab-wrapper">
    <ul class="my__account-nav nav flex-column mb-0" role="tablist" id="pills-tab">

    <li class="nav-item mx-0">
     <a class="nav-link d-flex align-items-center px-0" id="pills-two-example1-tab" data-toggle="pill" href="#pills-two-example1" role="tab" aria-controls="pills-two-example1" aria-selected="false">
    <span class="font-weight-normal text-gray-600">Orders</span>
    </a>
    </li>
    
 
    <li class="nav-item mx-0">
    <a class="nav-link d-flex align-items-center px-0" id="pills-five-example1-tab" data-toggle="pill" href="#pills-five-example1" role="tab" aria-controls="pills-five-example1" aria-selected="false">
    <span class="font-weight-normal text-gray-600">Address</span>
    </a>
    </li>

    <li class="nav-item mx-0">
    <a class="nav-link d-flex align-items-center px-0" href="/logout">
    <span class="font-weight-normal text-gray-600">Logout</span>
    </a>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-md-9">
    <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab">
    <div class="pt-5 pt-lg-8 pl-md-5 pl-lg-9 space-bottom-2 space-bottom-lg-3 mb-xl-1">
    <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">Dashboard</h6>
    <div class="ml-lg-1 mb-4">
    <span class="font-size-22"><%=resolve.name %> </span>
  
    </div>

    <div class="row no-gutters row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col">
    <div class="border py-6 text-center">
    <a class="btn btn-primary rounded-circle px-4 mb-2" id="pills-two-example1-tab" data-toggle="pill" href="#pills-two-example1" role="tab" aria-controls="pills-two-example1" aria-selected="false">
    <span class="flaticon-order font-size-10 btn-icon__inner"></span>
    </a>
    <div class="font-size-3 mb-xl-1">Orders</div>
    </div>
    </div>
  
    <div class="col">
    <div class="border border-left-0 py-6 text-center">
    <a id="pills-five-example1-tab" data-toggle="pill" href="#pills-five-example1" role="tab" aria-controls="pills-five-example1" aria-selected="false" class="btn bg-gray-200 rounded-circle px-4 mb-2">
    <span class="flaticon-place font-size-10 btn-icon__inner text-primary"></span>
    </a>
    <div class="font-size-3 mb-xl-1">Addresses</div>
    </div>
    </div>
   
    </div>
    </div>
    </div>
    
    
    
    
    <div class="tab-pane fade" id="pills-two-example1" role="tabpanel" aria-labelledby="pills-two-example1-tab">
    <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-lg-2 mb-lg-4">
    <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">orders</h6>
    <table class="table">
    
    <thead>
    <tr class="border">
    <th scope="col" class="py-3 border-bottom-0 font-weight-medium pl-3 pl-lg-5">Item</th>
    <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Date</th>
    <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Staus</th>
    <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Total</th>
    <th scope="col" class="py-3 border-bottom-0 font-weight-medium">Actions</th>
    </tr>
    </thead>
    <%for(var y=0; y< orderDetails.length; y++){%>
        <%for(var i=0; i< orderDetails[y].productDetails.items.length; i++){%>
    
    <tbody>  
    <tr class="border">
    <th class="pl-3 pl-md-5 font-weight-normal align-middle py-6"><%=orderDetails[y].productDetails.items[i].name%></th>
    <td class="align-middle py-5"><%=orderDetails[y].date%></td>
    <td class="align-middle py-5"><%=orderDetails[y].productDetails.items[i].status%></td>
    <td class="align-middle py-5">
    <span class="text-primary"><%=orderDetails[y].total%></span> </td>
    <td class="align-middle py-5">

      
    <div class="d-flex justify-content-center"> 
        <%if(orderDetails[y].productDetails.items[i].status=='cancelled'){%>
        <h6 class="mt-3" style="display:block;">cancelled</h6>
        <%}else{%>
            <h6 id="messages" class="mt-3" style="display:none;">cancelled</h6>
    <button type="button"  name="status"  value="cancel request" style="display: block;" onclick="cancelOrder('<%=orderDetails[y].productDetails.items[i].item%>','<%=orderDetails[y]._id%>')" id="cancelbtn" class="btn btn-dark rounded-0 btn-wide font-weight-medium">Cancel 
    </button>
    <%}%>
    </div>


    </td>
    </tr>
    </tbody>
    <%}%>
    <%}%>
    </table>
    </div>
    </div>
    
    
   
    <div class="tab-pane fade" id="pills-four-example1" role="tabpanel" aria-labelledby="pills-four-example1-tab">
    <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9 space-bottom-2 mb-lg-4">
    <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-5 mb-lg-8 pb-xl-1">Addresses</h6>
    <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
    <div class="mb-6 mb-md-0">
    <h6 class="font-weight-medium font-size-22 mb-3">Billing Address
    </h6>
    <address class="d-flex flex-column mb-4">
    <span class="text-gray-600 font-size-2"><%=resolve.name%></span>
    <span class="text-gray-600 font-size-2"><%=resolve.place%></span>
    <span class="text-gray-600 font-size-2"><%=resolve.contact%> </span>
    <span class="text-gray-600 font-size-2"><%=resolve.email%></span>
    
    </address>
    <div class="d-flex">
    <button type="submit" class="btn btn-dark width-150 rounded-0 btn-wide font-weight-medium">Edit</button>
    </div>
    </div>
     </div>
    <!-- <div class="col">
    <h6 class="font-weight-medium font-size-22 mb-3">Shipping Address
    </h6>
    <address class="d-flex flex-column mb-4">
    <span class="text-gray-600 font-size-2"><%=resolve.name%></span>
    <span class="text-gray-600 font-size-2"><%=resolve.place%></span>
    <span class="text-gray-600 font-size-2"><%=resolve.contact%>  </span>
    <span class="text-gray-600 font-size-2"><%=resolve.email%></span>
    
    </address>
    <div class="d-flex">
    <button type="submit" class="btn btn-dark width-150 rounded-0 btn-wide font-weight-medium">Edit</button>
    </div>
    </div> -->
    </div>
    </div>
    </div>
    <div class="tab-pane fade" id="pills-five-example1" role="tabpanel" aria-labelledby="pills-five-example1-tab">
    <div class="border-bottom mb-6 pb-6 mb-lg-8 pb-lg-9">
    <div class="pt-5 pl-md-5 pt-lg-8 pl-lg-9">
   
    <p class="text-center text-success" id="successmessage" > </p>
    <div class="font-weight-medium font-size-22 mb-4 pb-xl-1">Add or edit your Address</div>
    <% if(resolve.address){ %> 

    <div class="mb-6">
        <h6 class="font-weight-medium font-size-22 mb-3">Current Address
        </h6>
        <address class="d-flex flex-column mb-4">
        <span class="text-gray-600 font-size-2" id="name">Name:<%=resolve.address.firstname%> <%=resolve.address.lastname%></span>
        <span class="text-gray-600 font-size-2" id="address">Full Address: <%=resolve.address.address%>,</span>
        <span class="text-gray-600 font-size-2" id="city"><%=resolve.address.city%> </span>
        <span class="text-gray-600 font-size-2" id="state"><%=resolve.address.state%></span>
        <span class="text-gray-600 font-size-2" id="pincode"><%=resolve.address.pincode%></span>
        </address>
        <div class="d-flex">
        <button type="button" class="btn btn-dark width-150 rounded-0 btn-wide font-weight-medium" onclick="Addressshow()">Edit</button>
        </div>
        </div>
        <form action="" id="editaddress" style="display:none ;">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Firstname</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Firstname" name="firstname"value='<%=resolve.address.firstname%>'>
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Lastname</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Lastname" name="lastname" value="<%=resolve.address.lastname%>">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address" value="<%=resolve.address.address%>">
          </div>
         
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <select id="inputCity"  class="form-control" name="city" >
                  <option value="<%=resolve.address.city%>" selected>Choose...</option>
                  <option>Trivandrum</option>
                  <option>Kollam</option>
                  <option>Alappuzha</option>
                  <option>Kottayam</option>
                  <option>Ernakulam</option>
                </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control" name="state">
                <option value="<%=resolve.address.state%>" selected>Choose...</option>
                <option>Kerala</option>
                <option>Tamilnadu</option>
                <option>Karnataka</option>
                <option>Delhi</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip" name="pincode" value="<%=resolve.address.pincode%>">
            </div>
          </div>
          <button type="button" class="btn btn-primary" onclick="editAddress()">Update Address</button>
        </form>
        <% }else{ %> 
          <h6 class="font-weight-medium font-size-7 ml-lg-1 mb-lg-8 pb-xl-1">Your Addressess</h6>
      <h4 class="text-center mb-5">Add Address</h4>
   
    <form action="" id="useraddress">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Firstname</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Firstname" name="firstname">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Lastname</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Lastname" name="lastname">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address">
        </div>
       
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <select id="inputCity" class="form-control" name="city">
                <option selected>Choose...</option>
                <option>Trivandrum</option>
                <option>Kollam</option>
                <option>Alappuzha</option>
                <option>Kottayam</option>
                <option>Ernakulam</option>
              </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control" name="state">
              <option selected>Choose...</option>
              <option>Kerala</option>
              <option>Tamilnadu</option>
              <option>Karnataka</option>
              <option>Delhi</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" name="pincode">
          </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="addAddress()">Add Address</button>
      </form>
      <% } %> 
    </div>
    </div>
    </div>
  
    </div>
    </div>
    </div>
    </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function cancelOrder(proid,orderid){
        $.ajax({
            url:'/cancelOrder',
            data:{
                productId:proid,orderId:orderid
            },
            method:'post',
            success:(resolve)=>{
if(resolve.message=='productcancelled'){
    document.getElementById('messages').style.display='block';
    document.getElementById('cancelbtn').style.display='none';
}else{
    document.getElementById('messages').style.display='none';
    document.getElementById('cancelbtn').style.display='block';
    console.log('cancelfailed');
}
            }
        })
    }

    function addAddress(){
      $.ajax({
url:'/user/add-address',
data:$('#useraddress').serialize(),
method:'post',
success:(resolve)=>{
  console.log(resolve);
document.getElementById('successmessage').innerHTML=resolve.Message
}

      })
    }


function Addressshow(){
document.getElementById('editaddress').style.display='block'
}

function editAddress(){
  $.ajax({
    url:'editaddress',
    data:$('#editaddress').serialize(),
    method:'post',
    success:(resolve)=>{
      if(resolve){
        document.getElementById('name').innerHTML=resolve.response.address.firstname ,resolve.response.address.lastname;
document.getElementById('address').innerHTML=resolve.response.address.address;
document.getElementById('city').innerHTML=resolve.response.address.city;
document.getElementById('state').innerHTML=resolve.response.address.state
document.getElementById('pincode').innerHTML=resolve.response.address.pincode
console.log('hii');
document.getElementById('editaddress').style.display='none'
document.getElementById('successmessage').innerHTML=resolve.Message
      }

    }
  })
}
</script>
  